.carousel-inner {
  .carousel-item {
    min-height: 798px;
    .carousel-info {
      position: relative;
      margin-top: 300px;
      text-align: center;
      h5 {
        float: left;
        padding-left: 6%;
        @media #{$xs_mobile} {
          padding-left: 15px;
        }
      }
      h1{
        border-top: 1px solid rgba(0,0,0,0.25);
        border-bottom: 1px solid rgba(0,0,0,0.25);;
        font-size: 9rem;
        letter-spacing: 0.1em;
        text-align: center;
        @media #{$medium_device} {
          font-size: 7.4rem;
        }
        @media #{$tab_device} {
          font-size: 5.5rem;
        }
        @media #{$large_mobile, $sm_mobile} {
          font-size: 6rem;
        }
        @media #{$xs_mobile} {
          font-size: 4.5rem;
        }
        
      }
      a {
        float: right;
        padding-top: 25px;
        font-size: 12px;
        padding-right: 75px;
        color: $primary-color;
        position: relative;
        text-decoration: none;
        @media #{$xs_mobile} {
          padding-right: 30px;
        }
        span{
          font-size: 9em;
          position: absolute;
          top: -40px;
          left: 0px;
        }
      }
    }
  }
}

