@font-face{
  src: url(../fonts/911Fontsimpact.ttf);
  font-family: Impact, sans-serif;
}


// Variables
$body-font: 'Libre Baskerville', serif;
$title-font: 'Impacto';


//color
$primary-color  : #222222;
$title-color    : #2a2a2a;
$text-color     : #000000;
$offwhite       : #f6f6f6;
$white          : #fff;
$black          : #000000;      


// media screen size for the responsiveness of the website
$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab:'(max-width: 991px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';